body {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 150px;
  text-align: center;
}
div {
  padding: 10px;
  text-align: center;
}
h1 {
    color: navy;
    font-family: verdana;
    font-size: 200%;
}
